@page
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Microsoft.AspNetCore.Mvc.Razor
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    Layout = "./Shared/_test.cshtml";
}
<div class="text-center">
    <h1 class="display-4">test动态修改</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">演示</a>.</p>
</div>
